img{
    width: 100%;
    height: auto;
}

.date{
    color: lightgray;
    font-size: 1.3rem;
    margin: 0;
}

.title{
    font-size: 3rem;
    margin: 0.5rem 0;
}

.continue{
    display: flex;
    justify-content: end;
}

.continue a{
    text-decoration: none;
    font-weight: bold;
    color: tomato;
}

article{
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

p.content::first-letter{
    color: lightgray;
    font-size: 6.5rem;
    float: left;
    margin:-2.5rem 0.7rem -2.5rem 0;
    padding: 0;
}

.content{
  line-height: 1.8;   
  color: rgb(113, 112, 112);
}