.bottom-navigation{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.bottom-navigation li a{
    text-decoration: none;
    color: tomato;
}

.copyright{
    color: lightgray;
}