.navigation{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 4rem 0;
}
.navigation li a{
    color: lightgray;
    font-size: 1.3rem;
}